<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <th:block th:replace="~{template/header/common/header :: commonHead}">
  </th:block>
  <th:block th:replace="~{template/css/myInfo/css :: css ('myInfoForm')}">
  </th:block>
</head>

<body>
<!-- Breadcrumb -->

<th:block th:replace="~{template/header/myInfo/header :: header}">
</th:block>
<!-- /Breadcrumb -->
<div class="container" th:replace="~{template/container/myInfo/container ::container (~{:: .myInfoBody})}">
  <div class="myInfoBody col-md-8">
    <div class="card mb-3">
      <div class="card-body">
        <div class="card mt-3">
          <ul class="list-group list-group-flush myProfileList">
            <li class="list-group-title list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <div class="d-flex align-items-center">
                <a class=" text-decoration-none mainLogo"><h2 class="list-group-title-text"
                                                              th:text="#{sky.myProfile}">내 프로필</h2></a>
              </div>
            </li>
            <li class="list-group-item profileImg d-flex align-items-center flex-wrap">
              <h6 class="mb-0">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="feather feather-globe mr-2 icon-inline">
                </svg>
              </h6>
              <span class="ms-4" th:text="${userMyInfo.userId}"></span>
            </li>
            <li class="list-group-item profileImg d-flex align-items-center flex-wrap">
              <div class="d-flex align-items-center">
                <h6 class="mb-0">
                  <svg xmlns="http://www.w3.org/2000/svg"
                       class="feather feather-globe mr-2 icon-inline">
                  </svg>
                </h6>
                <input class="display-none" hidden="true" id="ogUserName" th:value="${userMyInfo.userName}">
                <span class="ms-4 userNameInfo" th:text="${userMyInfo.userName}"></span>
              </div>
              <div class="btn-div ms-auto">
                <button class="btn changeUserNameBtn" type="button" id="changeUserNameBtn">
                  <img th:src="@{/css/image/pencil.png}">
                </button>
              </div>
            </li>
            <li class="list-group-item emailImg d-flex  align-items-center flex-wrap">
              <h6 class="mb-0">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="feather feather-globe mr-2 icon-inline">
                </svg>
              </h6>
              <span class="ms-4" th:text="${userMyInfo.email}"></span>
            </li>
          </ul>
        </div>
        <div class="card mt-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-title list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <a class=" text-decoration-none mainLogo"><h2 class="list-group-title-text"
                                                            th:text="#{sky.security.set}">보안설정</h2></a>
            </li>
            <li class="list-group-item d-flex pwImg justify-content-between align-items-center flex-wrap">
              <div class="d-flex align-items-center">
                <h6 class="mb-0">
                  <svg xmlns="http://www.w3.org/2000/svg"
                       class="feather feather-globe mr-2 icon-inline">
                  </svg>
                </h6>
                <span class="ms-4" th:text="#{sky.pw}">비밀번호</span>
              </div>
              <div class="btn-div ms-auto">
                <button class="btn changePwBtn" type="button" id="changePwBtn">
                  <img th:src="@{/css/image/pencil.png}">
                </button>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <div class="d-flex align-items-center">
                <h6 class="mb-0">
                  <svg xmlns="http://www.w3.org/2000/svg"
                       class="feather feather-globe mr-2 icon-inline">
                  </svg>
                </h6>
                <span class="ms-4" th:text="#{sky.overseas.login.block}">해외 로그인 차단
                  </span>
              </div>
              <div class="form-check form-switch ">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
              </div>
            </li>
          </ul>
        </div>
        <div class="card mt-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-title list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <a class=" text-decoration-none mainLogo"><h2 class="list-group-title-text"
                                                            th:text="#{sky.log.manage}">이력관리</h2></a>
            </li>
            <li class="list-group-item d-flex  align-items-center flex-wrap">
              <h6 class="mb-0">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="feather feather-globe mr-2 icon-inline">
                </svg>
              </h6>
              <span class="ms-4" th:text="#{sky.login.list}">로그인 목록</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<th:block th:replace="~{template/modal/myInfo/modal :: modal ('myInfoForm')}">
</th:block>
</body>

<th:block th:replace="~{template/js/common/common :: js ('commonJs')}">
</th:block>

<th:block th:replace="~{template/js/myInfo/js :: js ('myInfoForm')}">
</th:block>


</html>