<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{template/header/header :: commonHead}">
  </th:block>

  <th:block th:replace="~{template/css/myInfo/css :: css ('pwUpdateForm')}">
  </th:block>
</head>
<body>
<div class="container" th:replace="~{template/container/container ::container (~{:: .mainCard})}">
  <div class="card mainCard">
    <a class="display-none" href="https://www.flaticon.com/kr/free-icons/" title=" 아이콘"> 아이콘 제작자: Andrean
      Prabowo -
      Flaticon</a>
    <a class="display-none" href="https://www.flaticon.com/kr/free-icons/-" title="- 아이콘">- 아이콘 제작자: Bharat
      Icons -
      Flaticon</a>

    <a class="display-none" href="https://www.flaticon.com/kr/free-icons/" title=" 아이콘"> 아이콘 제작자: Andrean
      Prabowo -
      Flaticon</a>
    <a class="display-none" href="https://www.flaticon.com/kr/free-icons/-" title="- 아이콘">- 아이콘 제작자: Bharat
      Icons -
      Flaticon</a>
    <a class="display-none" href="https://www.flaticon.com/kr/free-icons/" title=" 아이콘"> 아이콘 제작자: inkubators -
      Flaticon</a>
    <div class="card-body">
      <h5 class="card-title text-center" th:text="#{sky.pwReset}"></h5>
      <form class="mt-4" method="post" th:action="@{/user/myInfo/pw}" th:object="${userPwUpdateFormDto}">

        <input type="checkbox" hidden="true" id="_isChkPw"/>
        <input type="checkbox" hidden="true" id="_isChkNewPw"/>
        <input type="checkbox" hidden="true" id="_isChkNewPwChk"/>

        <div class="form-group">
          <div class="input-group form-join form-pw"
               th:classappend="${#fields.hasErrors('password')} ? 'error' : 'on'">
            <input type="password" th:field="*{password}" class="form-control"
                   th:errorclass="border-danger"
                   th:placeholder="#{sky.pw}">
          </div>
          <div class="form-text text-danger" th:with="err = ${#fields.detailedErrors('password')}"
               id="password-error-div">
            <small th:text="${err.size() > 0 ? err.get(0).getMessage() : ''}"
                   id="password-msg"> </small>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group form-join form-pw"
               th:classappend="${#fields.hasErrors('newPw')} ? 'error' : 'on'">
            <input type="password" th:field="*{newPw}" class="form-control"
                   th:errorclass="border-danger"
                   th:placeholder="#{sky.newPw}">
            <div class="password-info">
              <em class="how-secure" id="secureLevel"></em>
              <button type="button" id="btn-show" class="btn-show hide">
                <span class="blind"></span>
              </button>
            </div>
          </div>
          <div class="form-text text-danger" th:with="err = ${#fields.detailedErrors('newPw')}" id="newPw-error-div">
            <small th:text="${err.size() > 0 ? err.get(0).getMessage() : ''}"
                   id="newPw-msg"> </small>
          </div>


          <div class="form-group">
            <div class="input-group form-join form-pw"
                 th:classappend="${#fields.hasErrors('newPwChk')} ? 'error' : 'on'">
              <input type="password" th:field="*{newPwChk}" class="form-control"
                     th:errorclass="border-danger"
                     th:placeholder="#{sky.newPwChk}">
            </div>
            <div class="form-text text-danger" th:with="err = ${#fields.detailedErrors('newPwChk')}"
                 id="newPwChk-error-div">
              <small th:text="${err.size() > 0 ? err.get(0).getMessage() : ''}"
                     id="newPwChk-msg"> </small>
            </div>
          </div>
          <!--            <th:block th:if="*{captchaKey}">-->
          <a class="display-none" href="https://www.flaticon.com/kr/free-icons/" title="반복 아이콘">반복 아이콘 제작자: Stockes
            Design
            - Flaticon</a>


          <div class="card captchaCard">
            <div class="form-group card-body">
              <img class="captcha-img mb-3" id="imagePath"
                   th:src="*{imageName} ? '/Nkey/open/image/'+ *{imageName} : '' "/>
              <div class="input-group form-login form-cap">
                <input type="text" th:field="*{captcha}" class="form-control captcha" th:placeholder="#{sky.captcha}">
                <div class="input-group-append">
                  <button type="button" class="btn captchaBtn" id="captchaBtn">
                  </button>
                </div>
              </div>
              <div class="form-text text-danger" th:with="err = ${#fields.detailedErrors('captcha')}">
                <small th:text="${err.size() > 0 ? err.get(0).getMessage() : ''}"
                       id="captcha-msg"> </small>
              </div>
            </div>
          </div>


          <input type="hidden" class="form-control" th:field="*{captchaKey}">
          <input type="hidden" class="form-control" th:field="*{imageName}">
          <!-- 로그인 버튼을 크게 만들고 가운데 정렬 -->
          <button type="button" id="resetSubBtn" class="btn btn-primary btn-login mx-auto d-block mt-3 w-100"
                  th:text="#{sky.check}">
          </button>

          <button type="button" id="cancel" class="btn btn-secondary btn-login mx-auto d-block mt-3 w-100"
                  th:text="#{sky.cancel}">
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="modal" class="modal-overlay">
  <div class="modal-window modal-logout">
    <div class="title text-center">
      <h4>
        <strong th:text="#{sky.modal.pwUpdateForm.title}">비밀번호가 변경 되었습니다.</strong>
      </h4>
    </div>
    <div class="content">
      <ul class="list-group list-group-flush">
        <li class="modal-List list-group-item d-flex align-items-center flex-wrap">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="logoutRadio" id="allLogoutRadio" checked="true">
            <label class="form-check-label" for="allLogoutRadio" th:text="#{sky.modal.pwUpdateForm.logout}">
              모드 기기 및 브라우저에서 로그아웃
            </label>
          </div>
          <div class="form-text">
            <small th:text="#{sky.modal.pwUpdateForm.logout.content}">
              다른 사람이 회원님의 비밀번호를 알고 있다고 생각된다면
              모든 기기에서 로그아웃하시는 것이 안전합니다.</small>
          </div>
        </li>
        <li class="modal-List list-group-item d-flex align-items-center flex-wrap">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="logoutRadio" id="logoutNoneRadio">
            <label th:text="#{sky.modal.pwUpdateForm.logoutnone}" class="form-check-label" for="logoutNoneRadio">
              로그인 상태 유지
            </label>
          </div>
            <div class="form-text">
              <small th:text="#{sky.modal.pwUpdateForm.logoutnone.content}">
                회원님의 아이디로 로그인한 목록은 보안 설정의 로그인 관리 > 로그인 목록에서 확인 가능합니다.</small>
            </div>
        </li>
      </ul>
    </div>

    <div id="modal-logout-btn" class="btn_one_popup">
      <button class="btn modal-logout-btn btn_item on text-decoration-none" role="button">
        <span id="radioCheckBtn" class="btn_text" th:text="#{sky.check}">확인</span>
      </button>
    </div>
  </div>
</div>
</body>


<th:block th:replace="~{template/js/js :: js ('commonJs')}">
</th:block>
<th:block th:replace="~{template/js/myInfo/js :: js ('pwUpdateForm')}">
</th:block>


</script>


</html>