<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="js (page)">


<th:block th:if="${page == 'joinAgreeForm'}" class="joinAgreeForm">
  <script th:src="@{/js/common/function.js}"></script>
  <script th:src="@{/js/join/Agree.js}"></script>
  <script th:src="@{/js/join/join_ready.js}"></script>
  <script>
    let _agree;
    _agree_ready_init();
  </script>
</th:block>

<th:block th:if="${page == 'joinForm'}" class="joinAgreeForm">
  <script th:src="@{/js/errors/{locale}/errors.js(locale = ${#locale})}"></script>
  <script th:src="@{/js/join/messages/{locale}/messages.js(locale = ${#locale})}"></script>
  <script th:src="@{/js/join/Email.js}"></script>
  <script th:src="@{/js/join/join.js}"></script>
  <script th:src="@{/js/join/join_ready.js}"></script>
  <script th:src="@{/js/common/function.js}"></script>
  <script th:inline="javascript">
    const $password = _getElementById("password");
    const rePw = [[${rePw}]];
    $password.value = rePw;
    let _email;
    let _join;
    // 뒤로가기로 진입시 agree 페이지로 이동
    _onpageshow("/join/agree");
    _join_ready_init();
  </script>
</th:block>


<th:block th:if="${page == 'commonJs'}" class="commonJs">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
          integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
          integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
          crossorigin="anonymous"></script>
</th:block>



</html>