body {
  /*min-width: 768px; !* <-- 이렇게 *!*/
  margin: 0;
  height: 100%;
}
.container {
  margin-top: 100px;
}
.btn-primary {
  background-color: #1aafec;
  border-color: #1aafec;
}

.btn-primary:hover {
  background-color: #439cb9;
  border-color: #439cb9;
}

.mainLogo {
  color: #1aafec;
}

.error-msg {
  color: #dc3545;
}

.success-msg {
  color: #1aafec
}

.logo-text {
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.display-none {
  display: none;
}
