<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="css (page)">


<th:block th:if="${page == 'joinAgreeForm'}">
  <link th:href="@{/css/join/agree.css}" rel="stylesheet">
  <title th:text="#{sky.logo} +':'+ #{sky.signup}"></title>
</th:block>

<th:block th:if="${page == 'joinForm'}">
  <link th:href="@{/css/join/join.css}" rel="stylesheet">
  <title th:text="#{sky.logo} +':' + #{sky.signup}"></title>
</th:block>

<th:block th:if="${page == 'helpForm'}">
  <link th:href="@{/css/join/join.css}" rel="stylesheet">
  <title th:text="#{sky.logo} +':' + #{sky.idHelp}"></title>
</th:block>

<th:block th:if="${page == 'login'}">
  <link th:href="@{/css/login/login.css}" rel="stylesheet">
  <title th:text="#{sky.logo}+ ':' + #{sky.login}"></title>
</th:block>
</html>