<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/header/headers.css}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
            <li class="nav-item"><a th:href="@{/templates/board}" class="nav-link link-dark px-2">게시판</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">About</a></li>
        </ul>
        <ul class="nav">
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Login</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Sign up</a></li>
        </ul>
    </div>
</nav>
<header class="py-3 mb-4 border-bottom ">
    <div class="container d-flex flex-wrap justify-content-center">
        <a href="/static" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"/>
            </svg>
            <span class="fs-4">SKY TOY</span>
        </a>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0">
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
    </div>
</header>

<div class="mt-3 container">
    <div class="border-bottom row">
        <div class="col-md-8"><p class="p-1 fs-4" th:text="${board.title}">Show Collapsible Content ByDefault</p></div>

    </div>
    <div class="border-bottom row">
        <div class="col-lg-3" th:text="${board.nickname}"></div>
        <div class="col-lg-2 "th:text="${board.date}"></div>
    </div>
    <div id="demo" class="collapse show" th:text="${board.text}">

    </div>
</div>


</body>
</html>