<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="js (page)" th:with="lan = ${#locale.toString().substring(0,2)}">


<th:block th:if="${page == 'commonJs'}" class="commonJs">
  <script th:src="@{/js/common/bootstrap/bootstrap.bundle.min.js}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
  <script th:src="@{/js/common/format.js}"></script>
  <script th:src="@{|/js/errors/${lan}/errors.js|}"></script>
  <script th:src="@{|/js/common/messages/${lan}/messages.js|}"></script>
  <script th:src="@{/js/common/CustomToastr.js}"></script>
  <script th:src="@{/js/common/HttpStatusCode.js}"></script>
  <script th:src="@{/js/common/function.js}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <script>
    _setToastr(toastr);
  </script>
</th:block>
</html>
