.custom-select-container {
  position: relative;
  width: 250px;
}

.custom-select {
  padding: 0 10px 0 12px;
  border: 1px solid #ccc;
  cursor: pointer;
  font: 16px / 1.4 Inter, sans-serif;
  font-weight: 500;
  -webkit-appearance: none; /* 크롬/사파리에서 기본 화살표를 제거 */
  -moz-appearance: none;    /* 파이어폭스에서 기본 화살표를 제거 */
  appearance: none;         /* 기본 화살표를 제거 */
}

.custom-select:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  pointer-events: none; /* 클릭 이벤트 방지 */
  /*border-color: #888; !* 화살표 색상 설정 *!*/
  transform: translateY(-50%) rotate(45deg); /* 화살표 모양 설정 */
  transition: transform 0.3s ease-in-out; /* 애니메이션 설정 */
}

.custom-select.open:after {
  /* 드롭다운이 열릴 때 화살표 방향 변경 */
  transform: translateY(-40%) rotate(-135deg);
}

.custom-select-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: white;
  z-index: 1000;
}

.custom-select-options li {
  padding: 2px 10px 2px 12px;
  cursor: pointer;
  color: #333;
  font: 15px / 1.4 Inter, sans-serif;
  font-weight: 500;
}

.custom-select-options li:hover {
  color: #1aafec;
}