.upload_body{
  padding: 100px 0;
}

.upload_body_title {
  font-size: 22px;
}

@media (max-width: 1250px) {
  .upload_content{
    width: 100%;
  }
  .upload_tabs{
    width: 100%;
  }
  /*.track_info_form,.picture-div {*/
  /*  flex-basis: 100%; !* 100%의 너비를 차지하도록 설정 *!*/
  /*  max-width: 100%; !* 최대 너비를 100%로 제한 *!*/
  /*  margin-bottom: 1rem; !* 아래쪽 마진 추가 *!*/
  /*}*/
  /*.track_info_form,.form-group {*/
  /*  flex-basis: 100%; !* 100%의 너비를 차지하도록 설정 *!*/
  /*  max-width: 100%; !* 최대 너비를 100%로 제한 *!*/
  /*}*/
}
.track_info_form_body {
  padding: 14px 20px 0;
}

.upload_form_buttons {
  border-top: 1px solid #f2f2f2;
  margin: 20px -25px 0;
  padding: 20px 25px;
  display: flex;
  align-items: center;
}

.upload_form_buttons > button {
  display: inline-block;
  margin: 5px;
  border: 1px solid #e5e5e5;
}

.activeUpload__requiredText {
  line-height: 26px;
  flex: 1;
}

.sc-text-error {
  color: #dc3545;
  line-height: 26px;
}
.track_info_form_list .track_info_form input[type=text] {
  height: 30px;
}

#additionalTags{
  color: #333333;
  border:1px solid #d9d9d9;
  border-radius: 1px;
  padding: 0 10px;
}

.required_fields:after {
  color: #dc3545;
  content: "*";
  display: inline-block;
  margin-left: 2px;
}
.track_info_form_list > .list-group-item {
  border-top: 1px solid #e5e5e5;

}