<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="modal">


  <div id="userManageModal" class="modal modal-overlay">
    <div class="modal-window modal-logout">
      <div class="title text-center">
        <div class="title-content">
          <h4>
            <strong id="userManageTitle">로그인 관리</strong><br/>
          </h4>
          <small id="additionalInfo" class="form-text display-none"></small>
          <div id="rangeDate" class="display-none input-group mt-2">
            <br/>
            <input type="date" id="startDate" class="form-control"><h3>~</h3><input type="date" id="endDate" class="form-control">
            <button class="btn btn-primary" id="searchDateBtn">조회</button>
          </div>
        </div>

      </div>
      <div class="close-area model-cancel"><span class="blind">X</span></div>
      <div class="content" id="content">

      </div>


      <nav aria-label="Page navigation example" class="text-center">
        <ul class="pagination justify-content-center" id="userManagePaging">
          <li class="page-item"><a class="page-link" id="pagingPrev" href="#" th:text="#{sky.prevBtn}">Previous</a></li>
          <li class="page-item"><a class="page-link text-dark bg-gray-300" href="#">1</a></li>
          <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
          <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
          <li class="page-item"><a class="page-link text-dark" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#" id="pagingNext" th:text="#{sky.nextBtn}">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>


</th:block>
</html>