
.playControls {
  position: fixed;
  bottom: 0;
  visibility: hidden;
  width: 100%;
  perspective: 900px;
  perspective-origin: 80% 100%
}


.playControls__bg {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0
}

.sc-classic .playControls__bg {
  top: -1px
}

.playControls__inner {
  height: 48px;
  visibility: visible;
  transition: transform .2s ease-out;
  transform: translateY(100%)
}

.playControls__bg, .playControls__inner {
  background-color: #f3f3f3;
  /*background-color: var(--highlight-color)*/
}

.sc-classic .playControls__bg, .sc-classic .playControls__inner {
  background-color: #f2f2f2;
  border-top: 1px solid #cecece
}

.playControls.m-visible .playControls__inner {
  transform: translateY(0)
}

.sc-classic .playControls__control {
  width: 24px;
  height: 100%
}

.sc-classic .playControls__control, .sc-classic .playControls__control:not(:first-child) {
  margin-left: 12px
}

.playControls__control:focus {
  outline: 0
}

.playControls__control.disabled {
  opacity: .3;
  cursor: default
}

body:not(.sc-classic) .playControls__wrapper {
  padding: 0 16px;
  /*padding: 0 var(--spacing-2x);*/
  box-sizing: border-box
}

.playControls__wrapper {
  padding-bottom: 10px;
  visibility: visible;
  position: relative;
  height: 100%
}

.playControls__elements {
  display: flex;
  position: relative;
  height: 100%;
  align-items: center
}

.playControls__timeline {
  margin-right: 8px;
  /*margin-right: var(--spacing-1x);*/
  flex-grow: 1
}

.sc-classic .playControls__timeline {
  margin-right: 12px
}

.playControls__soundBadge {
  box-sizing: border-box;
  width: 328px;
  height: 48px;
  z-index: 1
}

.sc-classic .playControls__soundBadge {
  width: 360px;
  padding: 0 8px
}

.playControls__panel {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0
}

.sc-classic .playControls__repeat {
  margin-right: 20px
}

body:not(.sc-classic) .playControls__volume {
  align-self: center
}

.sc-classic .playControls__volume {
  margin-right: 12px
}

.playControls.m-volumeInactive .playControls__volume {
  pointer-events: none
}

.playControls__queue {
  position: absolute;
  bottom: 56px;
  right: 8px;
  width: 480px;
  transition-property: transform, opacity;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.66, -.41, 1, 1);
  transform: translateY(100px);
  /*pointer-events: none;*/
  opacity: 1;
  height: 532px;
  max-height: calc(100vh - 80px)
}
.sc-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: normal;
}


.queue__itemWrapper .queue-p {
  font-size: 13px;
}

.ply-track-uploader {
  color: #999999;
}
.ply-track-name {
  color: #333;
}

.sc-classic .playControls__queue {
  /*position: absolute;*/
  /*z-index: 1000;*/
  bottom: 150px;
  right: 8px;
  height: 660px;
  max-height: calc(100vh - 120px);
}

.playControls__queue  a {
  text-decoration: none;
}
.playControls.m-queueVisible.m-visible .playControls__queue {
  /*pointer-events: auto;*/
  /*transform: translateY(0);*/
  /*opacity: 1;*/
  /*transition-duration: .35s;*/
  /*transition-timing-function: cubic-bezier(0, 0, 0, 1.2)*/
  pointer-events: auto;
  transform: translateY(0);
  opacity: 1;
  transition-duration: .35s;
  transition-timing-function: cubic-bezier(0, 0, 0, 1.2);
}

.playControls__castControl {
  display: none;
  width: 16px;
  height: 16px;
  align-self: center;
  margin-right: 12px;
  /*margin-right: var(--spacing-1_5x)*/
}

.sc-classic .playControls__castControl {
  margin-right: 8px;
  width: 32px;
  height: 24px
}

.playControls.m-googleCastActive .playControls__castControl {
  display: block
}

.playControls__castControl > #castbutton {
  /*--connected-color: var(--special-color);*/
  /*--disconnected-color: var(--primary-color);*/
  border: none;
  background: transparent;
  outline: none;
  padding: 4px;
  /*padding: var(--spacing-0_5x);*/
  line-height: 0;
  cursor: pointer
}

.sc-classic .playControls__castControl > #castbutton {
  --connected-color: #f50;
  --disconnected-color: #333;
  padding: 0 4px
}

.playControls__quality {
  align-self: center
}

.sc-classic .playControls__quality {
  margin-right: 8px
}

@media (max-width: 1079px) {
  .sc-classic .playControls__soundBadge {
    width: 340px
  }
}