#app{
  background-color: #f2f2f2;
}
.content-container{
  width: 91.75vw;
  max-width: 1240px;
  padding-top: 46px;
  background: #fff;
  min-width: 960px;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.sidebar-placeholder{
  /*flex: 1;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  grid-area: b;
  border-left: 1px #e2e2e2 solid;
  margin-top: 5px;
}

.track-index-page-container {
  display: grid;
  grid-template-areas:
		" header header header"
		"  main   main    b"
		"   .      .      b";
  grid-template-columns: 3fr 1fr;
  gap: 15px;
  width: 100%;
}

.extraspace{
  margin-bottom: 40px;
}

.sidebar-module {
  /*display: flex;*/
  /*flex-direction: column; !* 플렉스 아이템을 세로 방향으로 배치 *!*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*overflow: hidden;*/
  box-sizing: border-box;
  /*margin: 15px auto;*/
  width: 300px;
  min-height: 250px; /* 최소 높이를 설정 */
}

.sidebar-header {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 300px;
  color: #999;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
  flex: 1;
}

.sidebarContent {
  padding: 0 0 0 4px;
}

.sidebarHeader__title {
  line-height: 24px;
  display: flex;
  flex-direction: row;
  /*align-items: start;*/
  font-size: 14px;
  flex: 1;
  margin: 15px 0 0 5px;

  color: #999;
  text-align: start;
}
.sidebarHeader__more {
  flex: 1;
  margin: 15px 0 0;
  line-height: 24px;
  text-align: end;
}

.sidebarHeader__actualTitle {
  line-height: 24px;
  flex: 1;
}

