<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="js (page)" th:with="lan = ${#locale.toString().substring(0,2)}">
<th:block th:if="${page == 'myInfoForm'}" class="myInfoForm">
  <script th:src="@{/js/myInfo/picture.js}"></script>
  <script th:src="@{/js/myInfo/modalVisible.js}"></script>
  <script th:src="@{/js/common/paging.js}"></script>
  <script th:src="@{/js/myInfo/myInfo.js}"></script>
  <script th:src="@{/js/myInfo/MyInfo_ready.js}"></script>
  <script>
    let _myInfo;
    let _picture;
    _myInfo_ready_init();
  </script>

</th:block>
<th:block th:if="${page == 'pwUpdateForm'}" class="pwUpdateForm">
  <script th:src="@{/js/myInfo/modalVisible.js}"></script>
  <script th:src="@{/js/myInfo/pwUpdate.js}"></script>
  <script th:src="@{/js/myInfo/pwUpdate_ready.js}"></script>
  <script th:inline="javascript">
    let _pwUpdate;
    _pwUpdate_ready_init();
  </script>
</th:block>


</html>