<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <th:block th:replace="~{template/header/header :: commonHead}">
  </th:block>

</head>
<body color-theme="dark">
<section class="header row justify-content-center border-bottom">
  <nav class="col-lg-8 navbar navbar-expand-md navbar-light">
    <div class="container-fluid">
      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" data-bs-theme="dark">
        <ul class="navbar-nav ms-auto">

          <th:block th:if="${session.USER_ID == null}">
          <li class="nav-item">
            <a class="nav-link text-dark"
               th:href="@{/user/join/agree}"
               th:text="#{sky.signup}"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark"
               th:href="@{/login}"
               th:text="#{sky.login}"></a>
          </li>
          </th:block>

          <th:block th:if="${session.USER_ID != null}">

            <li class="nav-item">
              <a class="nav-link text-dark"
                 th:href="@{/login}"
                 th:text="#{sky.alarm.none}"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark"
                 th:href="@{/user/myInfo}"
                 th:text="#{sky.myInfo}"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark"
                 th:href="@{|/logout|}"
                 th:text="#{sky.logout}"></a>
            </li>
          </th:block>
        </ul>
      </div>
    </div>
  </nav>
</section>
<section class="row justify-content-center">
  <nav class="col-lg-8 navbar bg-body-tertiary">
    <div class="container-fluid">
      <form class="d-flex ms-auto" role="search">
        <input class="form-control " type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
</section>


<script>

  /*  window.onload = function () {
      document.getElementById("colorMode").onclick = function () {
        if (this.checked) {
          document.documentElement.setAttribute('color-theme', 'dark');
        } else {
          document.documentElement.setAttribute('color-theme', 'light');
        }
      }
    }*/
</script>
</body>
<th:block th:replace="~{template/js/js :: js ('commonJs')}">
</th:block>
</html>