<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">


  <th:block th:fragment="commonCss">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">


    <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/base/base.css}" rel="stylesheet">
    <link th:href="@{/css/header/headers.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"/>
    <!-- toastr css 라이브러리 -->

    <a class="display-none" href="https://www.flaticon.com/kr/free-icons/" title=" 아이콘"> 아이콘 제작자: Andrean
      Prabowo -
      Flaticon</a>
    <a class="display-none" href="https://www.flaticon.com/kr/free-icons/-" title="- 아이콘">- 아이콘 제작자: Bharat
      Icons -
      Flaticon</a>

    <a class="display-none" href="https://www.flaticon.com/kr/free-icons/" title=" 아이콘"> 아이콘 제작자: inkubators -
      Flaticon</a>

    <div class="display-none"> Icons made by <a href="https://www.freepik.com" title="Freepik"> Freepik </a>
      from
      <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a></div>

    <a class="display-none" href="https://www.flaticon.com/kr/free-icons/" title="반복 아이콘">반복 아이콘 제작자: Stockes
      Design
      - Flaticon</a>

    <div class="display-none"> Icons made by <a href="https://www.freepik.com" title="Freepik"> Freepik </a>
      from
      <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a></div>
    <a class="display-none" href="https://www.flaticon.com/kr/free-icons/" title="반복 아이콘">반복 아이콘 제작자: Stockes Design
      - Flaticon</a>

    <a class="display-none" href="https://www.flaticon.com/kr/free-icons/" title=" 아이콘"> 아이콘  제작자: Freepik - Flaticon</a>
    <a href="https://www.flaticon.com/kr/free-icons/" class="display-none" title="다음 아이콘">다음 아이콘  제작자: Roundicons - Flaticon</a>
    <a href="https://www.flaticon.com/kr/free-icons/" class="display-none" title="레지스터 아이콘">레지스터 아이콘  제작자: Pixel perfect - Flaticon</a>
  </th:block>

</html>