* {
  box-sizing: border-box;
}
.content {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-areas:
      'a a a'
      'b b b'
      'd d c'
}

.profileHeader {
  padding: 30px;
  height: 260px;
  grid-area: a;
}
.vertical-bar {
  grid-area: b;
}
.userInfoBar {
  display: flex;
  position: relative;
  grid-area: header;
  padding-top: 15px;
}
.l-fluid-fixed {
  grid-area: d;
  position: relative;
}
.l-sidebar-right {
  grid-area: c;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

@media (max-width: 1239px) {
  .l-container {
    width:1080px
  }

  .sc-classic .l-container {
    width: 1020px
  }

  .sc-classic .l-container.l-fullwidth {
    width: 1080px
  }
}

@media (max-width: 1079px) {
  .l-container {
    width:960px
  }

  .sc-classic .l-container {
    width: 920px;
    padding: 0 20px
  }

  .sc-classic  .l-container.l-fullwidth {
    width: 960px
  }

  .sc-classic .l-inner-fullwidth {
    margin-left: -20px;
    margin-right: -20px
  }
}