.modal.modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  background-color: rgba(0,0,0,.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  z-index: 12;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@media (max-height: 900px){
  .modal.modal-overlay {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0px;
    vertical-align: middle;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.modal .modal-window {
  /*background: rgba( 69, 139, 197, 0.70 );*/
  background: #ffffff;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  /*backdrop-filter: blur( 13.5px );*/
  /*-webkit-backdrop-filter: blur( 13.5px );*/
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 400px;
  height: 500px;
  position: relative;
  top: -100px;
  padding: 10px;
}

.modal .modal-logout {
  width: 600px;
  height: 700px;
  position: relative;
  top: 0;
  padding: 10px;
}
@media (max-width: 730px) { /* 모바일 화면 크기 기준으로 설정할 수 있는 임의의 값 사용 */
  #userManageModal .modal-logout {
    width: 90%; /* 모바일 화면에 맞게 조정 */
    max-width: 400px; /* 최대 너비 설정 */
    height: auto; /* 높이 자동으로 조정 */
    top: 50%; /* 화면 중앙에 위치 */
    left: 50%; /* 화면 중앙에 위치 */
    position: absolute;
    transform: translate(-50%, -50%); /* 중앙 정렬 */
  }

  #userManageModal.modal-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
  }

}

.modal .title{
  padding-left: 10px;
  display: inline;
/*  text-shadow: 1px 1px 2px gray;
  color: white;*/
}

.modal .title .title-content {
  /*  text-shadow: 1px 1px 2px gray;
    color: white;*/
  border-bottom: 1px solid #303038;
  padding: 30px 0 14px;
  margin-bottom: 20px;
}

.modal .title h4 {

  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: -.8px;
  color: #1e1e23;
  word-break: break-all;
}

.nowActive {
  background-color: #1aafec;
}
.modal .close-area {
  position: absolute;
  top: 10px;
  right: 5px;
  vertical-align: top;
  background-position: 0 -164px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;

}
.modal .close-area > .blind{
  font-size: 25px;
}
.modal .content {
  margin-top: 20px;
  padding: 0px 10px;
  color: black;
}
.btn_duo_popup , .btn_one_popup {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  text-align: center;
}

.btn_duo_popup .btn_item.on {
  background-color: #1aafec;
}
.btn_duo_popup .btn_item:first-child {
  width: 35%;
  background-color: #959eae;
  border-radius: 0 0 0 12px;
}

.btn_duo_popup .btn_item:last-child {
  width: 65%;
  border-radius: 0 0 12px 0;
}
.btn_one_popup  .modal-logout-btn {
  width: 100%;
  border-radius: 0 0 0 12px;
}
.btn_one_popup .btn_item {
  background-color: #1aafec;
}

.btn_duo_popup .btn_item,.btn_one_popup .btn_item {
  float: left;
  padding: 19px 0 18px;
  vertical-align: middle;
}
.btn_duo_popup .btn_item {
  background-color: #959eae;
}


.btn_duo_popup .btn_item .btn_text ,.btn_one_popup .btn_item .btn_text{
  font-size: 17px;
  font-weight: 600;
  letter-spacing: -.5px;
  color: #fff;
}
