<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{template/header/common/header :: commonHead}">
  </th:block>
  <th:block th:replace="~{template/css/join/css :: css ('joinAgreeForm')}">
  </th:block>
</head>
<body>

<div class="container" th:replace="~{template/container/user/container ::container (~{:: form})}">
  <form method="get" th:action="@{/user/join}" th:object="${userJoinAgreeDto}">
    <input type="text" class="form-control" th:field="*{agreeToken}" hidden="hidden">
    <div class="form-group mt-5">
      <input type="checkbox" class="form-check-input" id="chk_all">
      <label for="chk_all" class="check_all" th:text="#{sky.agree.all}"> 전체 동의하기</label>
      <div class="form-text" th:text="#{sky.agree.all.text}">
      </div>
    </div>
    <div class="form-group mt-5">
      <input type="checkbox" class="form-check-input agreeCheck" th:field="*{sbbAgreement}">
      <label th:for="sbbAgreement"><em class="agreeOption agreePoint" th:text="#{sky.required}">[필수]</em>[[#{sky.logo}]]
        [[#{sky.agree1}]]
      </label>
      <div th:replace="~{template/agreeLayout :: agrre1}">

      </div>
    </div>
    <div class="form-group mt-5">
      <input type="checkbox" class="form-check-input agreeCheck" th:field="*{infoAgreement}">
      <label th:for="infoAgreement"><em class="agreeOption agreePoint" th:text="#{sky.required}"></em>[[#{sky.agree2}]]</label>
      <div th:replace="~{template/agreeLayout :: agrre2}">

      </div>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto mt-5">
      <button type="submit" class="btn btn-primary btn-dark" id="agreeSubBtn" disabled
              th:text="#{sky.nextBtn}"></button>
    </div>
  </form>
</div>
</body>


<th:block th:replace="~{template/js/common/common :: js ('commonJs')}">
</th:block>
<th:block th:replace="~{template/js/join/js ::js ('joinAgreeForm')}">
</th:block>


</html>