<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="header">
  <header class="p-2 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <a href="/" class="d-flex align-items-center me-2 pwImg mb-2 mb-lg-0 text-decoration-none mainColor">
          <h4 class="mb-2 mb-lg-0" th:text="#{sky.logo}"></h4>
        </a>


          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-dark">Home</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Feed</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Library</a></li>

          </ul>

          <form class="col-12 col-lg-4 mb-lg-0 me-lg-auto">
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
          </form>


          <th:block th:if="${session.USER_ID != null}" th:with="userInfo = ${session.USER_ID}">
            <div class="dropdown text-end">
              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                 data-bs-toggle="dropdown" aria-expanded="false">
                <img th:src="@{|/user/file/api/picture/${userInfo.userId}|}" width="32" height="32"
                     class="rounded-circle userPicture">
              </a>
              <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" th:text="#{sky.myInfo}" th:href="@{/user/myInfo}">Profile</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" th:href="@{/logout}" th:text="#{sky.logout}"></a></li>
              </ul>
            </div>

          </th:block>
          <th:block th:if="${session.USER_ID == null}">
            <div class="text-end">
              <button type="button" class="btn btn-outline-secondary me-2"><a class="text-decoration-none mainColor"
                                                                              th:text="#{sky.login}"
                                                                              th:href="@{/login}">Login</a></button>
              <button type="button" class="btn btn-primary"><a class="text-decoration-none text-white"
                                                               th:text="#{sky.signup}" th:href="@{/user/join}"></a>
              </button>
            </div>
          </th:block>
      </div>


    </div>
  </header>
</th:block>

</html>